*.depend
*.layout
*.o
*.pro
*.pri
*.pro.user
*.cscope_file_list
*.map
*.md5
*.idea
Thumbs.db
cmake-build-debug/
cmake-build-debug-cli/
cmake-build-debug-wsl/
cmake-build-release/
res/config.xml
/build/
/tmp_doc/
/misc/
CMakeLists.txt.user
