*.depend
*.layout
*.o
*.pro
*.pri
*.pro.user
*.cscope_file_list
*.map
*.md5
*.idea
*.log
*.db
*.ini
CMakeLists.txt.user
res/config.xml
build/
cmake-build-debug/
cmake-build-debug-cli/
cmake-build-debug-wsl/
cmake-build-release/
misc/
tmp_doc/
Roadmap.md
RUNNER.*
compile_commands.json
