*.depend
*.layout
*.o
*.pro
*.pri
*.pro.user
*.cscope_file_list
*.map
*.md5
*.idea
*.log
*.db
*.ini
CMakeLists.txt.user
res/config.xml
build/
install/
bin/
cmake-build-*/
misc/
tmp_doc/
Roadmap.md
RUNNER.*
compile_commands.json
